@font-face {
  font-family: "iconfont"; /* Project id 3000598 */
  src: url('iconfont.woff2?t=1639641632369') format('woff2'),
       url('iconfont.woff?t=1639641632369') format('woff'),
       url('iconfont.ttf?t=1639641632369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huaduo:before {
  content: "\e60d";
}

.icon-pdf:before {
  content: "\e615";
}

.icon-loading:before {
  content: "\e64a";
}

.icon-loading1:before {
  content: "\e891";
}

.icon-2:before {
  content: "\e62c";
}

.icon-close:before {
  content: "\e639";
}

.icon-minimize:before {
  content: "\e65a";
}

.icon-maximize:before {
  content: "\e601";
}

.icon-reduction:before {
  content: "\e695";
}

